#showContent {width:660px;height:auto;min-height:1080px;border:1px solid green;margin-bottom: 10px;}
#topContent {float: right;}
.bdsharebuttonbox {float: right;margin-right: 10px;}
#show_style h1 {height:36px;text-align:center;line-height:36px;color:#900;font-weight:700;font-family:微软雅黑;font-size:16px;padding:5px;border-bottom:1px solid #ddd;}
#show_style span.sharetime {margin-right:5px;float:left;display:inline-block;color:green;font-weight:bold;height:28px;line-height:28px;}
#neirong {padding:10px 5px;clear:both;}